//=======================
// Custom styles
//=======================
.g-header
    background-color #FAF0E6

body
    background-color #FAF0E6
.no-scroll
  overflow hidden
  width 100vw
  height 100vh
