<section class="popup" data-popup>
  <div class="popup__inner">
    <a hred = "#" class="popup__close" data-close></a>
    <div class = "popup__container">
        <div class = "popup__thumb-container">
            <div class = "popup__thumb-image" data-popup-thumb></div>
            <div class = "popup__thumb-text"data-popup-thumb-text></div>
        </div>
        <div class = "popup__essay-container">
            <div class="popup__image-container" data-popup-images></div>
            <div class="popup__text" data-popup-text></div>
        </div>
    </div>
  </div>
</section>
